
/*----------- footer------------------- */
.footer p:hover{
color: #00baab;
cursor: pointer;
font-weight: 400;
font-size: large;
}
.footer p{
  
  
    font-weight: 400;
    font-size: large;
    }
/*----------- footer------------------- */


.navbar {
    position:fixed;
    width: 100%;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: white;
   
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin: auto;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 460px;
    padding-top: 20px;
    box-shadow: 0px 8px 16px 0px rgba(59, 59, 59, 0.4);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    z-index: 1;
    border-radius: 15px;
    margin-left: -170px;



}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content2 {
    margin: auto;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 640px;
    padding-top: 20px;
    box-shadow: 0px 8px 16px 0px rgba(59, 59, 59, 0.4);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    z-index: 1;
    border-radius: 15px;
    margin-left: -240px;



}

.dropdown:hover .dropdown-content2 {
    display: block;
}

.dropdown-content3 {
    margin: auto;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 450px;
    padding-top: 20px;
    box-shadow: 0px 8px 16px 0px rgba(59, 59, 59, 0.4);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    z-index: 1;
    border-radius: 15px;
    margin-left: -180px;


}

.dropdown:hover .dropdown-content3 {
    display: block;
}

.dropdown-content>h1,
.dropdown-content2>h1 {
    color: rgb(245, 179, 11);
    font-size: large;
    font-weight: 640;
    margin-bottom: 10px;
}

.content {
    display: flex;
    margin: auto;

    height: 70px;
    width: 94%;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    font-size: 18px;

}

.head1 {
    display: flex;
    font-size: large;
    font-weight: 600;
}

.head1:hover {
    color: #00baab;
    cursor: pointer;
}

.arrow {
    margin-top: 4px;
    margin-left: 5px;
}

.middle,
.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.parent {
    display: flex;
    justify-content: space-between;
    font-size: large;
    column-gap: 15px;

}

.parent p {

    display: flex;
    flex-direction: column;
    column-gap: 20px;
    padding-top: 13px;
    font-size: large;
    font-weight: 500;
}

.parent p:hover {
    cursor: pointer;
    color: #00baab;
}

.right {
    position: relative;
    margin-right: 40px;
    width: 200px;

}